
<div class="row">
    <div class="large-12 columns">
      <div class="prueba">

      <h3> Favorites</h3>
            <% @favorites.each do |favorite| %>

            <ul>

              <li>
                <%= link_to favorite.beer.name, beer_path(favorite.beer) %>
                |<a class="delete"> <img src="<%= favorite.beer.url %>" width=150 height=150/>
                  <%= link_to "Remove from Fridge", favorite, method: :delete, data: { confirm: "You sure?" } %>
                </a>

              </li>
            </ul>
            <% end %>
          </div>
        </div>
      </div>
