
<div class="row">
    <div class="large-12 columns">
      <div class="row">

        <h3> Favorites</h3>
            <% @user.beers.each do |favorite| %>
            <ul>
              <li>
                <%= link_to favorite.name, beer_path(favorite) %>
              </li>
            </ul>
            <% end %>
