<!-- <h1 class="index-title">Popular Beers</h1> -->
<html>

<div class="row index-row small-up-2 medium-up-3 large-up-4">
<%= image_tag("beers.jpeg", class: "main-icon") %>


<ul class="breadcrumbs">
  <li><a href="#">Home</a></li>
  <li><a href="#">Features</a></li>
  <li class="unavailable"><a href="#">Gene Splicing</a></li>
  <li class="current"><a href="#">Cloning</a></li>
</ul>
</html>



<!-- <div class="row">
<div class="columns small-4">Hello world</div> <div class= "small-8">Hola mundo</div>
</div> -->

<!-- <html>
  <head>
  <style>
  body {
    background-color: black;
    font-family:Arial;


  }
  </style>
</head>
<body>
</html>

<div class="contain-to-grid sticky">
  <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
    <h1>My Beer Log</h1>
  </nav>
</div>


<ul class="breadcrumbs">
  <li><a href="#">Home</a></li>
  <li><a href="#">Beers</a></li>
  <li class="unavailable"><a href="#">Styles</a></li>
  <li class="current"><a href="#">Breweries</a></li>
</ul>
