<div class="beer-details">
  <h1><%= @beer.name %></h1>
  <div class="beer-description">
    <h3>Description: <%= @beer.description %></h3>
  </div>

</div>

<div id="react" data-currentuser='<%= current_user.to_json %>' />
