@import 'settings';


body.home {
  background-image: url("rsz_craft.jpg");

}


.updown {
  
    margin-right: auto;
    margin-left: auto;
}

form {
  position:center;
 }

.top-bar {
  color:white;
  font-family: Helvetica;
 border-bottom: 1px solid black;
height: 6em;
background-color: black;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica
}

.submit_beer {
  position: center;
}

.overlay-container .overlay {
  position: absolute; //css only works with this here
  top: 0;
  left: 0;
  right: 0;
}
.menu-icon {
  height: 9em;
  width: auto;
}

.main-icon {
  width: 100%;
  height: auto;

}


.button {
  margin: 1;
  opacity: 2.85;
  padding-top: 1em;
  padding-bottom: 1em;
}

// .breadcrumbs {
//   background-color:white;
//   font-size: 18px;
//
// }

.sticky sticky-topbar {
  background-color:white;
}



.submit_beer {

  align-content: center;
  color:#C63C22;
  // width: 820px;
  padding: 120px;
  border: 5px gray;
  margin: 3;
  text-align:center;

}

.submit_beer-title {
  text-align: center;
  display:inline-block;
  color:#C63C22;
}

.mybeerguide-title {
    text-align: right;
}

.top-bar-container {
  margin: auto;
  color: blue;
}

.small-9 {
  border: 9px;
}

.card {
  text-align:center;
}

.beer_list_header {
  color:#C63C22;
  text-align: center;
}
