@import 'settings';

.breadcrumbs a {
  color: #1779BA;
  font-weight: bold;
  font-size: 17px;
  text-align: left;
  font-family:fantasy;
}

.card-section {
  text-align: center;
}

.forms {
  text-align: center;
}

.fridgetitle {
  text-align: center;
  font-weight: bold;
}

.prueba {
  color:#C63C22;
  font-weight: bold;
}

body.home {
  background-image: url("rsz_craft.jpg");

}


//
#prueba {
  border-style:solid;
  border-width:0.2px;
  column-count: 2;
  position:center;
  color:black;
  font-size: 16px;
  border-bottom-width: 1px;
  padding: 15px;
  background-color: white;
}

.review {
    color:#000000;
    text-align: center;
    font-weight: bold;



}

.beer {

      color:#000000;
      text-align: center;
      font-weight: bold;


}
#beer-url {
   border-bottom-width: 5px;
}

.updown {
    background-color: white;
    margin-right: auto;
    margin-left: auto;
}



form {
  position:center;
 }

.top-bar {
  color:white;
  font-family: Arial;
  border-bottom: 1px solid black;
  height: 6em;
  background-color: black;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Arial
}

.submit_beer {
  position: center;
}

.overlay-container .overlay {
  position: absolute; //css only works with this here
  top: 0;
  left: 0;
  right: 0;
}
.menu-icon {
  height: 9em;
  width: auto;

}

.main-icon {
  width: 100%;
  height: auto;

}


.button {
  margin: 1;
  opacity: 2.85;
  padding-top: 1em;
  padding-bottom: 1em;
}

.breadcrumbs {
  font-size: 18px;
  text-align: center;

}

.sticky sticky-topbar {
  background-color:white;
}



.submit_beer {

  align-content: center;
  color:#C63C22;
  // width: 820px;
  padding: 120px;
  border: 5px gray;
  margin: 3;
  text-align:center;

}

.submit_beer-title {
  font-weight: bold;
  text-align: center;
  color:#000000;

}

.mybeerguide-title {
    text-align: right;
}

.top-bar-container {
  margin: auto;
  color: blue;
}

.small-9 {
  border: 9px;
}

.beername {
  font-weight: bold;
  color:#1779BA;


}


.carta {
  text-align:center;
  border-style:solid;
  border-width:0.5px;
  column-count: 2;
  position:center;
  color:black;
  font-size: 16px;
  border-bottom-width: 1px;
  padding: 15px;


}

.cartota {
  background-color: white;
  text-align:center;
  border-style:solid;
  border-width:0.5px;
  column-count: 5;
  position:center;
  color:black;
  font-size: 16px;
  border-bottom-width: 1px;
  padding: 15px;
  display: inline-block;

}

.beer_list_header {
  color:#000000;
  text-align: center;
}

.beer-details {
  align-content: center;
  background-color: white;
}

.card {
  text-align: center;
  padding: 18px;
}
